

.title {
    
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 68px;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    color: aqua;
    font-family: c"Times New Roman", Times, serif;
}






.india{
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 173px;
    left: 100px;
    font-size: 30px;
    z-index: 30;
    font-weight: bold;
    text-transform: uppercase;
    color: aqua;
}
.area-list-container {
    width: 250px;

    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    opacity: 1;
    position: absolute;
    z-index: 30;
    top: 280px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
}

.area-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

.area-container {
    display: flex;
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

.area-info-container {
    flex-grow: 1;
    color: thistle;
}



.area-details {
    font-size: 17px;
    color: rgb(148, 221, 226);
    margin-top: 5px;
}


.area-number-container {
    align-items: center;
    display: flex;
}

.area-number {
    margin-top: 40px;
    width: 30px;
    height: 30px;
    background-color: #454E53;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.area-details span {
    display: block;
}
.area-name{
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgb(138, 2, 2);
    margin-top: 20px;

}

.area-name span {
    font-family: c"Times New Roman", Times, serif;
    color: rgb(138, 2, 2);
    display: block;
}

.map-section {
    border: 1px solid #eee;
    background-color: rgb(139, 141, 145);
    
}

.wrapper {

    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.countrydata-container{
    width: 270px;
    height: 40px;
    background-color: darksalmon;
    position: absolute;
    z-index: 30;
    top: 20px;
    left: 900px;
    border-radius: 30px;
}

.homepage{
    width: 70px;
    height: 35px;
    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    position: absolute;
    z-index: 30;
    top: 15px;
    left: 400px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
    
}
.indiadata{
    width: 120px;
    height: 35px;
    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    position: absolute;
    z-index: 30;
    top: 15px;
    left: 490px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
    
}
.worlddata{
    width: 120px;
    height: 35px;
    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    position: absolute;
    z-index: 30;
    top: 15px;
    left: 630px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
   
}
.abtcovid{
    width: 120px;
    height: 35px;
    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    position: absolute;
    z-index: 30;
    top: 15px;
    left: 770px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
    
}

.m{
    width: 100%;
    height: 20px;
    background-image:url(https://image.freepik.com/free-vector/realistic-coronavirus-background_23-2148497718.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    position: absolute;
    z-index: 30;
    top: 70px;
    padding-left: 15px;
    
    border-radius: 5px;
}

